<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>

<ul>
    <li>zxc</li>
    <li>asd</li>
    <li>qwe</li>
</ul>

<ol>
    <li>zxc</li>
    <li>asd</li>
    <li>qwe</li>
</ol>

<ul class="list-unstyled">
    <li>zxc
        <ul>
            <li>zxc</li>
            <li>zxc</li>
        </ul>
    </li>
    <li>asd</li>
    <li>qwe</li>
</ul>

<ol class="list-inline">
    <li>asdf</li>
    <li>asdf</li>
    <li>asdf</li>
</ol>

<dl>
    <dt>zxc</dt>
    <dd>z</dd>
    <dd>x</dd>
    <dd>c</dd>
    <dt>asd</dt>
    <dd>a</dd>
    <dd>s</dd>
    <dd>d</dd>
</dl>

</body>
</html>