<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
     <style>
        .a{
            border: 1px red solid;
        }
        .b{
            border: 1px blue solid;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-4 a">adsf</div>
        <div class="col-sm-4 a">adsf</div>
        <div class="col-sm-4 a">adsf</div>

    </div>

</div>



</body>
</html>