<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>


<div class="container">

    <p class="text-muted">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="text-primary">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="text-success">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="text-info">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="text-warning">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="text-danger">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>


    <p class="bg-primary">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="bg-success">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="bg-info">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="bg-warning">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>
    <p class="bg-danger">干哈涉及到房管局哈市的高房价哈斯给对方加挥洒的高房价阿萨德股份计划撒的股份</p>


    <hr>

    <button type="button" class="close" aria-label="Close"><span>&times;</span></button>

    <hr>

    <span class="caret"></span>

</div>


</body>
</html>