<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="border: 1px red solid">这是容器</div>

<div class="container-fluid" style="border: 1px blue solid">这是占满全部</div>



<div class="container" style="border: 10px hotpink solid">实验容器</div>

<div class="container-fluid" style="border: 10px cornsilk solid">这是占满的全部</div>



</body>
</html>