<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<h1>标题 <small>zxc</small></h1>
<h2>标题</h2>
<h3>标题</h3>
<h4>标题</h4>
<h5>标题</h5>
<h6>标题</h6>

<p class="lead">asdfasdfasdf</p>


这是内联文本元素<mark>高连</mark>字体
<del>This line of text is meant to be treated as deleted text.</del>

<ins>这是带有下划线的文本</ins>
<ins>alksdfjalsdf</ins>

<u>This line of text will render as underlined</u>
<u>askdjflasdjflaksjdf</u>
<hr>
The following snippet of text is<strong> rendered as .</strong>bold text
<hr>
The following snippet of text is<em> rendered as .</em>bold text
<hr>
<p class="text-left">这是靠左的文本</p>
<p class="text-right">这是靠右的文本</p>
<p class="text-center">这是居中的文本</p>
<p class="text-nowrap">这是不换行的文本</p>
<p class="text-left">左</p>
<p class="text-right">右</p>
<p class="text-center">居中</p>
<p class="text-nowrap">不换行文本</p>
<hr>

<p class="text-lowercase">Lowercased TEXT.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">capitalized text love.</p>



</body>
</html>