<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form action="" class="form-horizontal">
                <div class="form-group has-warning">
                    <label class="col-sm-2 control-label">email:</label>
                    <div class="col-lg-10">
                        <p class="form-control-static"><strong><u>1134711420@qq.com</u></strong></p>

                    </div>
                </div>
                <div class="form-group has-warning has-feedback">
                    <label for="pwd" class="col-sm-2 control-label">密码:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="pwd">
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>

                    </div>
                </div>
                <div class="form-group has-error has-feedback">
                    <label for="age" class="control-label col-sm-2">年龄</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon">2</span>
                            <input type="text" class="form-control" id="age">
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>



</body>
</html>