<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <button class="btn btn-default btn-lg btn-block">按钮</button>
    <button class="btn btn-success btn-sm">按钮</button>
    <button class="btn btn-warning btn-xs">按钮</button>
    <button class="btn btn-warning active">按钮</button>
    <button class="btn btn-warning disabled">按钮</button>
</div>



</body>
</html>