<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>


<img src="../../static/img/479256649.jpg" class="img-circle">
<img src="../../static/img/479256649.jpg" class="img-thumbnail">
<img src="../../static/img/479256649.jpg" class="img-rounded">
<img src="../../static/img/479256649.jpg" >



</body>
</html>